
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:active {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header {
    float: left;
    width: auto;
    height: 45px;
    width: 1002px;
}

#nav {
    float: left;
    height: 46px;
    background-image: url(../images/menu_bg.png);
    background-repeat: repeat;
}

#nav li {
    float: left;
    position: relative; /*background: url(../images/menu_div.jpg) no-repeat top right;*/
}

#nav li.open, #nav li:hover {
    background: #3D6FE3;
    color: white;
}

#nav li a {
    display: block;
    padding: 16px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
}

#nav li ul {
    display: none;
    position: absolute;
    top: 46px;;
    left: 0;
    width: 180px; /* padding: 0 0 5px;*/
    background: white;
    width: 200px;
    border: solid #bbb;
    border-width: 0 1px 1px;
}

#nav li:hover ul {
    display: block;
    //width: 140px;
    width: inherit;
}

#nav li ul li {
    float: none;
}

#nav li ul li a {
    padding: 3px 3px 3px 10px;
    display: inline-block;
}

#nav li ul li a {
    display: block;
}

#nav li ul li a:hover {
    background: #3D6FE3; /*color: white;*/
}

/* End header */
/* Begin Sidebar */
/*#sidebar {float: right; width: 80px;}
#sidebarNav {padding: 10px 0; background: #ccc; border: 1px solid #555555;}
#sidebarNav li {border-top: 0 solid #ccc;}
#sidebarNav li:hover, #sidebarNav li.open {background: #bbb;}
#sidebarNav li a {display: block;padding: 5px 10px;line-height: 20px;color: #444;font-weight: bold;text-decoration: none; display: inline-block;}
#sidebarNav li a {display: block;}
#sidebarNav li p {display: none;  padding: 5px 10px 10px; color: #444; border-top: 1px dashed #aaa; }
#sidebarNav li:hover p {display: block;}
  */
/* End Sidebar */

/* Begin body styles */
.borderclass {
    background: url(images/menu_div.jpg) no-repeat top right;
}

.level1-a {
    width: 90px;
    color: white;
    background: url(../images/menu_div.jpg) no-repeat top right;
}

.sp {
    padding: 6px 0px 6px 10px;
    background: #2a2c27;
    color: white;
    margin: 5px;
    width: 120px;
}

.sp_box {
    background: black;
    color: white;
    height: 10px;
}

/* End body */
.menu_left {
    background: url(../images/menu_left.png) repeat-x;
    width: 7px;
    height: 46px;
    float: left;
}

.menu_right {
    width: 7px;
    height: 46px;
    float: right;
    background-image: url(../images/menu_right.png);
    background-repeat: no-repeat;
}

.sp_space {
    padding: 2px;
}

.pagination li {
    display: inline;
}

.pagination a.paginate-arrows {
    text-decoration: none;
}

#paginate-limit-options {
    margin-top: 5px;
}

.fa{
    margin-right: 5px;
    color: gray;
}