/* CSS Document */

body{margin:0px; padding:0px; background-color:#242424;}
.topheader{background:url(../images/backOffice-top-blue.png) repeat-x 0px 0px; height:79px;}
.toplinkbg{background:url(../images/top-link-mid.png) repeat-x 0px 0px;  height:29px;}
.pagebg{background:#eeeeee url(../images/background-bg.jpg) repeat-x 0px 0px; height:320px; }
a{color:#000000; }
.linkone{ background:url(../images/establishment.png) no-repeat 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative; }
.linkone a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linkone a:hover{ background:url(../images/establishment-over.png) no-repeat 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linktwo{ background:url(../images/menu-mid.png) repeat-x  0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative;  border-right:solid 1px #5c5d5c ;border-left:solid 1px #5c5d5c ;}
.linktwo a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linktwo a:hover{ background:url(../images/menu-over.png) repeat-x 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linkthree{ background:url(../images/menu-mid.png) repeat-x 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative;  border-right:solid 1px #5c5d5c;}
.linkthree a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linkthree a:hover{ background:url(../images/newsevents-over.png) no-repeat 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linkfour{ background:url(../images/menu-mid.png) repeat-x  0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative; border-right:solid 1px #5c5d5c;}
.linkfour a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linkfour a:hover{ background:url(../images/faq-over.png) no-repeat 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linkfive{ background:url(../images/menu-mid.png) repeat-x  0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative; border-right:solid 1px #5c5d5c;}
.linkfive a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linkfive a:hover{ background:url(../images/orderbooking-over.png) no-repeat 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linksix{ background:url(../images/menu-mid.png) repeat-x 0px 0px; width:100px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative; border-right:solid 1px #5c5d5c ;}
.linksix a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px; }
.linksix a:hover{ background:url(../images/menu-over.png) repeat-x 0px 0px; width:100px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linkseven{ background:url(../images/menu-mid.png) repeat-x  0px 0px; width:100px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative; border-right:solid 1px #5c5d5c;}
.linkseven a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linkseven a:hover{ background:url(../images/blog-over.png) no-repeat 0px 0px; width:100px; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linkeight{ background:url(../images/menu-mid.png) repeat-x  0px 0px; width:115px;;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative;border-right:solid 1px #5c5d5c;}
.linkeight a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linkeight a:hover{ background:url(../images/stat-over.png) no-repeat 0px 0px; width:115px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linknine{ background:url(../images/menu-mid.png) repeat-x  0px 0px; width:115px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative;border-right:solid 1px #5c5d5c;}
.linknine a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linknine a:hover{ background:url(../images/green-bg.png) repeat-x 0px 0px; width:110px;; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}

.linkten{ background:url(../images/tempseting.png) no-repeat 0px 0px; width:112px; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; float:left; position:relative;}
.linkten a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none; line-height:45px;}
.linkten a:hover{ background:url(../images/tempseting-over.png) no-repeat 0px 0px; width:112px; height:46px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#212121; text-decoration:none; display:block;}


.boxtopmid{background:url(../images/data-area-1-2.png) repeat-x 0px 0px; height:10px;}
.boxvarleft{background:url(../images/data-area-2-1.png) repeat-y 0px 0px; }
.boxvarright{background:url(../images/data-area-2-2.png) repeat-y 0px 0px; background-position:right;}
.boxbottommid{background:url(../images/data-area-3-2.png) repeat-x 0px 0px;}
.formboxdatabg{background:#ffffff; padding-left:21px; /*padding-top:25px;*/ padding-right:21px;}
.conformcaption{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#282828; font-weight:bold; padding-top:10px;}
.formsmalltextbox{background:#FFFFFF; border:solid 1px #dcdcdc; width:50px; height:17px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#282828; }
.formmidtextbox{background:#FFFFFF; border:solid 1px #dcdcdc; width:220px; height:17px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#282828;}
.formfirstmidtbox{background:#FFFFFF; border:solid 1px #dcdcdc; width:249px; height:17px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#282828;}
.formbigtextbox{background:#FFFFFF; border:solid 1px #dcdcdc; width:506px; height:17px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#282828;}
.formsubtxt{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#282828; font-weight:normal;}

.copytxt{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#282828; font-weight:normal; text-decoration:none;}
.copytxt a{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#282828; font-weight:normal; text-decoration:none;}
.copytxt a:hover{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#282828; font-weight:normal; text-decoration:underline;}

.toplink{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#282828; font-weight:normal; text-decoration:none; background:url(../images/top-link-mid.png) repeat-x 0px 0px;  height:29px; padding-left:10px; padding-right:10px;}
.toplink a{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#282828; font-weight:normal; text-decoration:none;}
.toplink a:hover{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6c6d6c; font-weight:normal; text-decoration:none;}


/***********  login Form   **************/

.loginbg{background:url(../images/login-bg.png) no-repeat 0px 0px; width:598px; height:567px; padding-top:4px;}
.loginheader{ background:url(../images/login-header.jpg) no-repeat 0px 0px; width:486px; height:96px;}
.logindatabg{background:url(../images/logindatabg.jpg) repeat-y 0px 0px; width:486px;}
.logingfooter{background:url(../images/loginfooter.jpg) no-repeat 0px 0px; width:486px;}
.loginhead{ font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#3D6FE3; height:36px; border-bottom:solid 1px #a7b4c4; }
.loginblacktxt{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#5d5d5d;}
.logintxt{ padding-top:10px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7e7f81; padding-bottom:10px;}
.logionboxposition{ padding-left:24px; padding-right:24px; padding-top:17px; padding-bottom:23px; border-bottom:solid 1px #a7b4c4;}
.loginboxtopmin{background:url(../images/loginbox-1-2.jpg) repeat-x 0px 0px; }
.loginvarleft{background:#f9f9f9 url(../images/loginbox-2-1.jpg) repeat-y 0px 0px;}
.loginvarright{background:#f9f9f9 url(../images/loginbox-2-2.jpg) repeat-y top right;}
.loginbotmid{background:url(../images/loginbox-3-2.jpg) repeat-x 0px 0px;}

.logincaption{ color:#054973; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; }
.logindots{ color:#3a515f; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-right:21px; padding-left:5px;}
.logintxtbox{width:402px; height:17px; border:solid 1px #dedcdc; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFFFFF;}
.loginselectbox{width:402px; height:23px; border:solid 1px #dedcdc; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFFFFF;}
.forgettxt{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#0a5cff;text-decoration:none;}
.forgettxt a{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#0a5cff; text-decoration:none;}
.forgettxt a:hover{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#0a5cff; text-decoration:underline;}
.passwordtxt{ padding-top:10px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7e7f81; padding-bottom:4px; }

.dyrouncboxtop{ font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#FF0000; height:36px; }
.dyrouncboxtop1_text{ font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#FF0000; height:36px; }
.dyrouncboxtop1_subtext{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#999999; height:36px; }
.pageheading{ border-bottom:solid 1px #a7b4c4; }

.buttonmidle{ background:url(../images/button-mid.png) repeat-x 0px 0px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7D7D7D; font-weight:bold; border:0 none; padding-top:9px;padding-bottom:9px; cursor:pointer; text-decoration:none;}
.buttonmidle a{ text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7D7D7D; font-weight:bold; border:0 none;  cursor:pointer; text-decoration:none;}

.buttonAutologin{ background:url(../images/button-mid2.png) repeat-x 0px 0px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7D7D7D; font-weight:bold; border:0 none; padding-top:7px;padding-bottom:8px; cursor:pointer; text-decoration:none;}
.buttonAutologin a{ text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7D7D7D; font-weight:bold; border:0 none;  cursor:pointer; text-decoration:none;}

.buttonmidle2{ background:url(../images/button-mid2.png) repeat-x 0px 0px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7D7D7D; font-weight:bold; border:0 none; padding-top:7px;padding-bottom:8px; padding-left:0; padding-right:0; cursor:pointer; text-decoration:none;}
.buttonmidle2 a{ text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7D7D7D; font-weight:bold; border:0 none;  cursor:pointer; text-decoration:none;}

.buttonmidle3{ background:url(../images/button-mid2.png) repeat-x 0px 0px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#C7C7C7; font-weight:bold; border:0 none; padding-top:7px;padding-bottom:8px; padding-left:0; padding-right:0; }


.questionhead{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#B7B7B7; height:36px; }

.smalltxt{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;font-size:13px;padding:5px;}