/* CSS Document */
.comments {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0C1967;
	text-decoration: none;
	font-weight:bold;
}

.page-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#ffffff;
	text-decoration: none;
	background-color:#0D499F;
}

.page-list-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#0C1967;
	text-decoration: none;
}


.list-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*color: #FFFFFF;*/
	color:#000000;
	font-weight:bold;
	text-decoration: none;
	padding:5px;
	border-bottom:1px solid #e9e9e9;
	/*background-color:#0D499F;*/
	/*background-color: #1A62DB;*/
	/*background-color: #74B5F3;*/
	background-color: #DFDFDF;
	
}
.reportheadertxt{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3395d6; border-bottom:1px solid #e9e9e9; font-weight:bold;  text-align:center; height:38px; width:90px;}

.list-contents {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	padding:5px;
	border-bottom:1px solid #e9e9e9;
}


.loginmainbg{background:url(../images/login-main-bg.jpg) no-repeat 0px 0px; width:424px; height:439px;  padding-top:55px;}
.signinbg{background:url(../images/sign-in-bg.png) no-repeat 0px 0px; width:344px; height:326px; padding-top:51px;}
.loginbg{background:url(../images/loginBG.jpg) no-repeat 0px 0px; width:315px; height:209px; padding-top:10px; /*padding-left:15px;*/}
.loginbox{ border:solid 1px #cccccc; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; width:280px; height:17px;}
.forgetbracate{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;}
.forgotpass{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
.forgotpass a{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none;}
.forgotpass a:hover{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline;}
.logincaption{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000000; font-weight:bold;}


.error{
	font-family:Arial, Helvetica, sans-serif; 
	color:#FF0000; 
	font-size:12px; 
	text-decoration:none; 
}


.altBgColor {
background-color:#EDF0F5;
}


.error_msg{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FF0000;
}

.success_msg{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#009933;
}
/*****************  Style.css   **********************/
.Hrhover
{
	/*background-color:#DBDBDB;*/
	background-color:#F5F5F5;
	height:23px;
}
.Hrnormal{
	/*background-color:#EEEEEE;*/
	/*background-color: #F3F3F3;*/
	/*background-color:#EFEFEF;*/
	background-color:#FFFFFF;
	height:23px;
}

.mainmenu_title {
	font-family:"Times New Roman", Times, serif;
	font-size: 30px;
	color:#0C1967;
	text-decoration: none;
}





.side-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#0D499F;
	text-decoration: none;
	padding-left:20px;
	padding-right:20px;
	height:20px;
	background-color:#EDF0F5;
	line-height:25px;
}

.mail-side-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#333333;
	text-decoration: none;
	padding-left:20px;
	padding-right:20px;
	height:20px;
	line-height:25px;
}

.button-index {
 	height:300px;
	width:300px;
	font-family:"Times New Roman", Times, serif;
	font-size: 20px;
	color: #bf0802;
	text-decoration: none;
	cursor:pointer;
	background-color:#EBEBEB;
	border:thin;
	border-color: #666666;
	border-width:1px;
	border-style:solid;
 }

.small-button-index {
 	height:180px;
	width:300px;
	font-family:"Times New Roman", Times, serif;
	font-size: 20px;
	color: #bf0802;
	text-decoration: none;
	cursor:pointer;
	background-color:#EBEBEB;
	border:thin;
	border-color: #666666;
	border-width:1px;
	border-style:solid;


 }

.medium-button-index {
 	height:300px;
	width:190px;
	font-family:"Times New Roman", Times, serif;
	font-size: 20px;
	color: #bf0802;
	text-decoration: none;
	cursor:pointer;
	background-color:#EBEBEB;
	border:thin;
	border-color: #666666;
	border-width:1px;
	border-style:solid;
 }


.listbox-without-border {
}

.button
{
	background-color:#F8F7FD;
	color:#0C1967;;
	font-weight:bold;
	height:22px;
	border:thin;
	border-color:#0C1967;;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
}

a.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#0C1967;	
}


a.menu-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	color:#0C1967;
	text-decoration: none;
	width:85px;
	background-color:#EDF0F5;
}

a.menu-list {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	text-decoration: none;
}

.menu-table-border {
	border:thin;
	border-color: #0C1967;
	border-width:1px;
	border-style:solid;
	background-color:#EDF0F5;
}

.progressBarText {
	border:none;
	color:#bf0802;
	font-size:9px;
}


.sideMenuSelTr {
	background-color:#999999;
	line-height:20px;
}

a.sideMenuSel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	
}

a.sideMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#000000;
	font-weight:bold;
	
}

.sideMenuTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#666666;
	line-height:25px;
}

.pagenav {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}


