/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.maintablewidth {
    background-color: #292929;
    padding-left: 10px;
    padding-right: 10px;
    width: 972px;
}

.sitepagebg {
    background: #eeeeee url(../images/backGround.jpg) repeat-x 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 952px;
}

.logobg {
    background: url(../images/logo-BG.jpg) no-repeat 0px 0px;
    width: 317px;
    height: 59px;
}

.navigationbg {
    background: url(../images/navigation-bg.jpg) no-repeat 0px 0px;
    width: 952px;
    height: 101px;
    padding-top: 4px;
}

.abovenavigation {
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}

.abovenavigation a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}

.abovenavigation a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #545454;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}

.dataareatitle {
    background: url(../images/dataarea-title.jpg) no-repeat 0px 0px;
    width: 664px;
    height: 34px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #114a89;
    font-weight: bold;
}

.dataareabg {
    background: url(../images/dataarea-pagebg.jpg) repeat-y 0px 0px;
    width: 664px;
    padding-left: 15px;
}

.fontcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    height: 22px;
}

.graytr {
    background-color: #F5F5F5;
}

.fontformtxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #686868;
    font-weight: normal;
}

.homefontformtxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #686868;
    font-weight: bold;
}

.formtextbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 459px;
    height: 22px;
    border: solid 1px #d6d6d6;
}

.formcheckbox {
    border: solid 1px #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

.redrequird {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FF0000;
}

.redrequirdbig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FF0000;
    font-weight: bold;
}

.tdlink {
    padding-left: 4px;
    padding-right: 4px;
}

/*Login*/

.loginmainbg {
    background: url(../images/login-main-bg.jpg) no-repeat 0px 0px;
    width: 424px;
    height: 439px;
    padding-top: 55px;
}

.signinbg {
    background: url(../images/sign-in-bg.png) no-repeat 0px 0px;
    width: 344px;
    height: 326px;
    padding-top: 51px;
}

.loginbg {
    background: url(../images/loginBG.jpg) no-repeat 0px 0px;
    width: 315px;
    height: 209px;
    padding-top: 10px; /*padding-left:15px;*/
}

.loginbox {
    border: solid 1px #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 280px;
    height: 17px;
}

.forgetbracate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

.forgotpass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-decoration: none;
}

.forgotpass a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-decoration: none;
}

.forgotpass a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-decoration: underline;
}

.logincaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
}

input[type="text"], input[type="password"], select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    border: solid 1px #d6d6d6;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    border: solid 1px #d6d6d6;
}

table-border {
    border: solid 1px #d6d6d6 !important;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF0000;
    font-size: 12px;
    text-decoration: none;
}

.altBgColor {
    background-color: #EDF0F5;
}

.error_msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF0000;
}

.success_msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #009933;
}

/*****************  Style.css   **********************/
.Hrhover {
    /*background-color:#DBDBDB;*/
    background-color: #F5F5F5;
    height: 23px;
}

.Hrnormal {
    /*background-color:#EEEEEE;*/
    /*background-color: #F3F3F3;*/
    /*background-color:#EFEFEF;*/
    background-color: #FFFFFF;
    height: 23px;
}

.mainmenu_title {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: #0C1967;
    text-decoration: none;
}

.comments {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #0C1967;
    text-decoration: none;
    font-weight: bold;
}

.note {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.page-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #0D499F;
}

.page-list-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0C1967;
    text-decoration: none;
}

.list-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*color: #FFFFFF;*/
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #e9e9e9;
    /*background-color:#0D499F;*/
    /*background-color: #1A62DB;*/
    /*background-color: #74B5F3;*/
    background-color: #DFDFDF;
}

.reportheadertxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3395d6;
    border-bottom: 1px solid #e9e9e9;
    font-weight: bold;
    text-align: center;
    height: 38px;
    width: 90px;
}

.list-contents {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #e9e9e9;
}

.table-border {
    border: thin;
    /*border-color: #0C1967;*/
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
}

.side-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0D499F;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 20px;
    background-color: #EDF0F5;
    line-height: 25px;
}

.mail-side-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 20px;
    line-height: 25px;
}

.button-index {
    height: 300px;
    width: 300px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #bf0802;
    text-decoration: none;
    cursor: pointer;
    background-color: #EBEBEB;
    border: thin;
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
}

.small-button-index {
    height: 180px;
    width: 300px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #bf0802;
    text-decoration: none;
    cursor: pointer;
    background-color: #EBEBEB;
    border: thin;
    border-color: #666666;
    border-width: 1px;
    border-style: solid;

}

.medium-button-index {
    height: 300px;
    width: 190px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #bf0802;
    text-decoration: none;
    cursor: pointer;
    background-color: #EBEBEB;
    border: thin;
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
}

.listbox-without-border {
}

.button {
    background-color: #F8F7FD;
    color: #0C1967;;
    font-weight: bold;
    height: 22px;
    border: thin;
    border-color: #0C1967;;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

a.links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0C1967;
}

a.menu-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #0C1967;
    text-decoration: none;
    width: 85px;
    background-color: #EDF0F5;
}

a.menu-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.menu-table-border {
    border: thin;
    border-color: #0C1967;
    border-width: 1px;
    border-style: solid;
    background-color: #EDF0F5;
}

.progressBarText {
    border: none;
    color: #bf0802;
    font-size: 9px;
}

/*calendar*/
tr.even td.holiday, tr.odd td.holiday {
    background: #ffe5ae
}

table#calendar td {
    vertical-align: top;
}

table#calendar th {
    width: 14%;
}

table#calendar td li {
    margin: 0;
    padding: 2px;
    list-style: none;
    font-size: 11px;
}

table#calendar td li a {
    color: #000;
}

table#calendar td li.install {
    background: #00d0ff;
}

table#calendar td li.removal {
    background: #ff0000;
}

table#calendar td li.service-call {
    background: #40ff00;
}

table#calendar td li.special {
    background: #fff600;
}

table#calendar td li.swap {
    background: #ffa700;
}

table#calendar td li.monthly-service {
    background: #ff00f6;
}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty {
    background: #fff;
}

/* Containing Div */
div.table {
    background-color: #EAEAEA;
    border-top: 2px solid #d1d1d1;
    padding-top: 3px;
    margin-bottom: 0;
}

div.table img {
    margin-right: 10px;
    position: relative;
    left: 8px;
    top: 5px;
}

div.table p.search {
    float: right;
    margin-right: 10px
}

/* for calender hiding */
/* the div that holds the date picker calendar */
.dpDiv {
}

/* the table (within the div) that holds the date picker calendar */
.dpTable {
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    text-align: center !important;
    color: #666666 !important;
    background-color: #EAEAEA !important;
    border: 1px solid #666666 !important;
    margin: 5px !important;
}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
    margin: 2px !important;
    padding: 2px !important;

}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
    margin: 2px !important;
    padding: 2px !important;

}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */

.dpDayTR {
    margin: 2px !important;
    padding: 2px !important;

}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
    margin: 2px !important;
    padding: 2px !important;

}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
    border: 0px solid #666666 !important;
    margin: 1px !important;
    padding: 1px !important;
}

/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
    background-color: #CCCCCC !important;
    border: 1px solid #bf0802 !important;
    margin: 1px !important;
    padding: 1px !important;

}

/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
    background-color: #ffffff !important;
    border: 0px solid #888888 !important;
    cursor: pointer;
    color: red !important;
    margin: 1px !important;
    padding: 1px !important;

}

/* the table cell that holds the name of the month and the year */
.dpTitleTD {
    margin: 1px !important;
    padding: 1px !important;

}

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
    margin: 1px !important;
    padding: 1px !important;

}

/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
    margin: 1px !important;
    padding: 1px !important;

}

/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
    background-color: #FFFFFF;
    border: 0px solid #003399;
    color: #bf0802;
    margin: 1px !important;
    padding: 1px !important;

}

/* additional style information for the text that indicates the month and year */
.dpTitleText {
    font-size: 12px;
    color: #bf0802;
    font-weight: bold;
    margin: 1px !important;
    padding: 1px !important;
}

/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlight {
    color: #bf0802;
    font-weight: bold;
    margin: 1px !important;
    padding: 1px !important;

}

/* the forward/backward buttons at the top */
.dpButton {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
    background: #EAEAEA;
    font-weight: bold;
    padding: 0px;
}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
    background: #EAEAEA;
    font-weight: bold;
}

/*****************************/

.sideMenuSelTr {
    background-color: #999999;
    line-height: 20px;
}

a.sideMenuSel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;

}

a.sideMenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: bold;

}

.sideMenuTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #666666;
    line-height: 25px;
}

.pagenav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.smallbutton_bg {
    background-image: url(../images/small-button.png);
    background-repeat: repeat;
    border: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    height: 26px;
    width: 70px;

}

/*input[type="button"]{
	border:1px solid #fff;
	background-image:url(../images/small-button.png);
	color:#000000;
	height:35px;
	width:71px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:100;
}*/
.continue_button {
    background: url(../images/mid-button.png) repeat-x 0px 0px;
    height: 34px;
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.cancel_button {
    background: url(../images/mid-button.png) repeat-x 0px 0px;
    height: 34px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.save_button {
    background: url(../images/small-button.png) repeat-x 0px 0px;
    height: 35px;
    width: 71px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/*****************  Style.css   **********************/
/*.dyrouncboxtop{background:url(../images/dy-tab-1-2.png) repeat-x 0px 0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#114a89; font-weight:bold; }
.dyrouncboxtop1{background:url(../images/dy-tab-1-2.png) repeat-x 0px 0px;  }
.dyrouncboxtop1_text{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#114a89; font-weight:bold; }
.dyrouncboxtop1_subtext{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#114a89;  }*/

.dyrouncboxvarleft {
    background: url(../images/dy-tab-2-1.png) repeat-y 0px 0px;
    width: 11px;
}

.dyrouncboxvarright {
    background: url(../images/dy-tab-2-2.png) repeat-y top right;
    width: 11px;
}

.dyrouncboxbottom {
    background: url(../images/dy-tab-3-2.png) repeat-x 0px 0px;
}

.dyrouncboxbg {
    background-color: #FFFFFF;
}

.maintable table {
    width: 97%;
}

.maintablewide table {
    width: 700px;
}

.innertable table {
    width: 620px;
}

.default table {
    width: 100%;
}

/*****************  links   **********************/
.cms {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.cms a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/cms.png) no-repeat center center;
    width: 61px;
    height: 91px;
    text-align: center;
    display: block;
    vertical-align: middle;
    line-height: 0px;
}

.cms a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/cms-over.png) no-repeat center center;
    width: 61px;
    height: 91px;
    text-align: center;
}

.news {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.news a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/newsandevents.png) no-repeat center center;
    width: 70px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.news a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/newsandevents-over.png) no-repeat center center;
    width: 70px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.newsletter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.newsletter a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/newsletter.png) no-repeat center center;
    width: 78px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.newsletter a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/newsletter-over.png) no-repeat center center;
    width: 78px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.filemanneger {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.filemanneger a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/filemanager.png) no-repeat center center;
    width: 83px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.filemanneger a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/filemanager-over.png) no-repeat center center;
    width: 83px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.faq {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.faq a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/faq.png) no-repeat center center;
    width: 78px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.faq a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/faq-over.png) no-repeat center center;
    width: 78px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.blog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
}

.blog a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/faq.png) no-repeat center center;
    width: 78px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.blog a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/faq-over.png) no-repeat center center;
    width: 78px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.blog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.blog a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/blog.png) no-repeat center center;
    width: 78px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.blog a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/blog-over.png) no-repeat center center;
    width: 78px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.banner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
}

.banner a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/banner.png) no-repeat center center;
    width: 70px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.banner a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/banner-over.png) no-repeat center center;
    width: 70px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.enquiry {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.enquiry a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/enquiry.png) no-repeat center center;
    width: 70px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.enquiry a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/enquiry-over.png) no-repeat center center;
    width: 70px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.linkspopu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.linkspopu a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/link-popularity.png) no-repeat center center;
    width: 82px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.linkspopu a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/link-popularity-over.png) no-repeat center center;
    width: 82px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.settinges {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.settinges a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/link-popularity.png) no-repeat center center;
    width: 74px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.settinges a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/link-popularity-over.png) no-repeat center center;
    width: 74px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.logout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.logout a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/logout.png) no-repeat center center;
    width: 74px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.logout a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/logout-over.png) no-repeat center center;
    width: 74px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.gallery {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.gallery a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/Gallery_Image.png) no-repeat center center;
    width: 74px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.gallery a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/Gallery_Image-over.png) no-repeat center center;
    width: 74px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.formbuilder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.formbuilder a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/form-builder.png) no-repeat center center;
    width: 74px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.formbuilder a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/form-builder-over.png) no-repeat center center;
    width: 74px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.templates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.templates a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/templates.png) no-repeat center center;
    width: 74px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.templates a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/templates-over.png) no-repeat center center;
    width: 74px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.sites {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.sites a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/menu-builder.png) no-repeat center center;
    width: 74px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.sites a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/menu-builder-over.png) no-repeat center center;
    width: 74px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.events {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: 61px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.events a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/events.png) no-repeat center center;
    width: 74px;
    height: 31px;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding-top: 60px;
}

.events a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/events-over.png) no-repeat center center;
    width: 74px;
    height: 31px;
    padding-top: 60px;
    text-align: center;
}

.box {
    background: url(../images/disableBG.png) no-repeat 0px 0px;
    line-height: 55px;
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box a {
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box a.active {
    background: url(../images/activeBG.png) no-repeat 0px 0px;
    display: block;
}

.box1 {
    background: url(../images/white1.png) no-repeat 0px 0px;
    line-height: 55px;
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box1 a {
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box1 a.active {
    background: url(../images/Green1.png) no-repeat 0px 0px;
    display: block;
}

.box2 {
    background: url(../images/white2.png) no-repeat 0px 0px;
    line-height: 55px;
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box2 a {
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box2 a.active {
    background: url(../images/Green2.png) no-repeat 0px 0px;
    display: block;
}

.box3 {
    background: url(../images/white3.png) no-repeat 0px 0px;
    line-height: 55px;
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box3 a {
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box3 a.active {
    background: url(../images/Green3.png) no-repeat 0px 0px;
    display: block;
}

.box4 {
    background: url(../images/white4.png) no-repeat 0px 0px;
    line-height: 55px;
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box4 a {
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box4 a.active {
    background: url(../images/Green4.png) no-repeat 0px 0px;
    display: block;
}

.box5 {
    background: url(../images/white5.png) no-repeat 0px 0px;
    line-height: 55px;
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box5 a {
    font-family: Tahoma;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.box5 a.active {
    background: url(../images/Green5.png) no-repeat 0px 0px;
    display: block;
}

