@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 18px;

    line-height: 35px;
}

.topline {
    border-top: 2px solid #5cadf6;
}

.banner {
    background-color: #0A82F1;
}

.clear {
    clear: both;
}

.navbar-brand {
    height: auto;
}

.navbar-nav {
    margin: 40px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #F6F5F5;
}

.navbar-default {
    background-color: #F6F5F5;
    border-color: #F6F5F5;
}

.topbgcolor {
    background-color: #F6F5F5;
}

/*---About Section---*/
.about_area {
    margin: 40px 0px;
}

.about_area p {
    font-family: "Lato", Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #8C7777;
    text-align: center;
    line-height: 25px;
}

.about_heading {
    font-family: 'Caviar Dreams';
    font-size: 36px;
    color: #222222;
}

.headingcolor {
    color: #008ed3;
}

.button1 {
    width: 100%;
    padding: 10px 20px;
    font-family: 'Caviar Dreams';
    font-size: 36px;
    color: #ffffff;
    background-color: #f72a2a;
    border: 1px solid #f72a2a;
}

.morelink {
    font-family: 'Caviar Dreams';
    font-size: 18px;
    color: #008ed3;
    padding: 20px 0px;
    font-weight: 600;

}

/*---Gallery Section Start---*/
.gallery_area {
    margin: 40px 0px;
    background-color: #0a82f1;
}

.carousel-control {
    width: auto
}

.gallery_area h2 {
    font-family: 'Caviar Dreams';
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.gallery_area p {
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 25px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.appbtn_area {
    margin: 40px 0px;
}

/*---About_Team Section Start---*/
.team_area {
    margin: 40px 0px 0px 0px;
    padding: 30px 0px 55px 0px;
    background-color: #f1f1f1;
}

.team_area h2 {
    font-family: 'Caviar Dreams';
    font-size: 60px;
    color: #0a82f1;
    text-align: center;
}

.team_area h3 {
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #0a82f1;
    text-align: center;
    font-weight: bold;
}

.team_area span {
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #0a82f1;
    text-align: center;
}

.team_area p {
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 17px;
    color: #595959;
    text-align: center;
    line-height: 25px;
}

/*---Contact Section Start---*/
.form-control {
    height: 51px;
}

.contact_area {
    margin: 0px 0px 40px 0px;
    background-color: #0a82f1;
    padding: 30px 0px 30px 0px;
}

.contact_area h2 {
    font-family: 'Caviar Dreams';
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.contact_area p {
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 25px;
}

.form_area {

    background-color: #0a82f1;
    padding: 30px 0px 20px 0px;
}

.form-group {
    margin-bottom: 30px;
}

.drimg {
    margin: 0 auto;
}

.lg-btn-2 {
    background-color: #008000;
    padding: 10px 22px;
    font-family: 'Caviar Dreams';
    font-size: 22px;
    color: #ffffff;
    font-weight: normal;
    border: none;
    margin-top: -4px;
}

.lg-btn-2:hover {
    background-color: #0A82F1;
    padding: 10px 25px;
    font-family: 'Caviar Dreams';
    font-size: 22px;
    color: #ffffff;
    font-weight: normal;
    border: none;
}

.mrg-top {
    margin-top: 10px;
}

.sbmt-btn {
    background-color: #f72a2a;
    border: solid 1px #fff;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
}

.sbmt-btn:hover {
    background-color: #000;
    border: solid 1px #000;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
}

.scol-icon {
    margin-right: 10px;
}

.footer-bg {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-bg p {
    font-size: 20px;
    color: #2d99fc;
    text-decoration: none;
}

.term-text {
    color: #2D99FC;
    text-decoration: none;
    float: right;
}

.term-text ul {
    margin: 0 auto;
}

.term-text ul li {
    display: inline;
}

.term-text ul li a {

    font-size: 18px;
    color: #2d99fc;
    text-decoration: none;
    padding: 0px 8px;
}

.term-text ul li a:hover {

    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.rdc-padding {
    padding-left: 0px;
    padding-right: 0px;
}

/** for menu bar bootstrap navbar*/
.navbar-default .navbar-nav > li > a {
    color: #0096d6;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0a82f1;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 20px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 45px;
    margin-right: 15px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #0a82f1;
    border: solid 1px #408AAD;
}

.navbar-default .navbar-toggle:hover {
    border-color: #ddd;
    background-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

@media screen and (max-width: 1199px) {
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav > li > a {
        color: #0096D6;
        font-size: 13PX;
    }

    .footer-bg p {
        font-size: 16px;
        color: #2D99FC;
        text-decoration: none;
        text-align: center;
    }

    .term-text ul {
        margin: 0px auto;
        padding-left: 0px;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #0a82f1;
        font-size: 13PX;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 6px;
    }

    .lg-btn-2 {
        background-color: #008000;
        padding: 5px 15px;
        font-family: "Caviar Dreams";
        font-size: 14px;
        color: #FFF;
        font-weight: normal;
        border: medium none;
    }

    .lg-btn-2:hover {
        background-color: #0A82F1;
        padding: 5px 15px;
        font-family: 'Caviar Dreams';
        font-size: 14px;
        color: #ffffff;
        font-weight: normal;
        border: none;
    }

    .term-text {
        color: #2D99FC;
        text-decoration: none;
        float: none;
        text-align: center;
    }

    .crc-img {
        width: auto;
        margin-top: 65px;
    }

    .about_area p {
        font-family: "Lato", Verdana, Geneva, sans-serif;
        font-size: 18px;
        color: #8C7777;
        text-align: center;
        line-height: 25px;
        width: 90%;
    }

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin: 10px;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 15px 15px;
        margin-top: 45px;
        margin-right: 15px;
        margin-bottom: 8px;
        border-radius: 4px;
        background-color: #0A82F1;
        border: 1px solid #408AAD;
    }

    .crc-img {
        width: auto;
        margin-top: 25px;
    }
}

/** for custom responsive*/
@media screen and (max-width: 1199px) {
    .button1 {
        padding: 10px 15px;
        font-family: "Caviar Dreams";
        font-size: 18px;
        color: #FFF;
        background-color: #F72A2A;
        border: 1px solid #F72A2A;
        width: 90%;
    }

}

@media screen and (max-width: 420px) {
    .button1 {
        padding: 10px;
        font-family: "Caviar Dreams";
        font-size: 12px;
        color: #FFF;
        background-color: #F72A2A;
        border: 1px solid #F72A2A;
        font-weight: bold;
        width: 100%;

    }
}

@media screen and (max-width: 380px) {
    .term-text ul li a {

        font-size: 14px;
        color: #2d99fc;
        text-decoration: none;
        padding: 0px 8px;
    }

    .term-text ul li a:hover {

        font-size: 14px;
        color: #000;
        text-decoration: none;
    }

    .about_heading {
        font-family: "Caviar Dreams";
        font-size: 22px;
        color: #222;
        font-weight: bold;
    }

    .gallery_area h2 {
        font-family: "Caviar Dreams";
        font-size: 20px;
        color: #FFF;
        text-align: center;
        font-weight: bold;
    }

    .contact_area h2 {
        font-family: "Caviar Dreams";
        font-size: 20px;
        color: #FFF;
        text-align: center;
        font-weight: bold;
    }

    .contact_area p {
        font-family: "Lato", Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #FFF;
        text-align: center;
        line-height: 25px;
    }

    .about_area p {
        font-family: "Lato", Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #8C7777;
        text-align: center;
        line-height: 25px;
        width: 100%;
    }

    .team_area h2 {
        font-family: "Caviar Dreams";
        font-size: 20px;
        color: #0A82F1;
        text-align: center;
        font-weight: bold;
    }

    .team_area h3 {
        font-family: "Lato", Verdana, Geneva, sans-serif;
        font-size: 16px;
        color: #0A82F1;
        text-align: center;
        font-weight: bold;
    }

    .team_area p {
        font-family: "Lato", Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #595959;
        text-align: center;
        line-height: 25px;
    }

    .gallery_area p {
        font-family: "Lato", Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #FFF;
        text-align: center;
        line-height: 25px;
    }

    .crc-img {
        width: 150px !important;
    }

    body {
        font-family: "Lato", Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #777;
        line-height: 22px;
    }

    .morelink {
        font-family: "Caviar Dreams";
        font-size: 14px;
        color: #008ED3;
        padding: 20px 0px;
        font-weight: 600;
    }

    .button1 {
        padding: 10px 0px;
        font-family: "Caviar Dreams";
        font-size: 12px;
        color: #FFF;
        background-color: #F72A2A;
        border: 1px solid #F72A2A;
        font-weight: bold;
        text-align: center;
    }

    .logo {
        padding: 0px;
        width: 70px;
        height: auto;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 15px;
        margin-top: 28px;
        margin-right: 15px;
        margin-bottom: 8px;
        border-radius: 4px;
        background-color: #0A82F1;
        border: 1px solid #408AAD;
    }

    .ban-img {
        padding: 0px;
        width: 300px;
        height: 120px;
    }
}

.logo {
    padding: 0px;
}

.crc-img {
    width: auto;
}

.ban-img {
    padding: 0px;
}

#sign-up {
    float: right;
}

.nv-rght {
    margin-right: -5px;
}

/*#doctor-login {*/
/*margin-left: 10px;*/
/*}*/

.video-title{
    margin-top: 15px;
    margin-bottom: 20px;
}

.video-note{
    margin-top: 15px;
    margin-bottom: 20px;
}